.assignment-mark{
    text-align: center;
    color: #9873FF;
    margin-top: 40px;
    font-weight: 900;
    font-size: 2rem;
    text-decoration: underline;
}

.assignment-chart{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid;
  }

td {
    text-align: center;
  }

  /* table {
    width: 100%;
  }
  
  th {
    height: 70px;
  } */
  th, td {
    padding: 15px;
    text-align: left;
  }